<div class="container">
  <p>{{ sds.eventsLabel }} - {{ nextEventTimeString }}</p>

  <p>
    <button (click)="refresh()">Refresh Events</button>
    <button (click)="toggleUpcoming()">{{ toggleName }}</button>
    <button (click)="toggleDescriptions()">{{ toggleDescriptionsName }}</button>
  </p>

  <div class="events-list">
    <ng-container *ngFor="let record of events">
      <div *ngIf="!onlyUpcoming || record.Upcoming" class="event {{record.cssClassRoom}}">
        <div class="event-head-row">
          <span> {{ record.Schedule | date:'EE., HH:mm' }}:</span>
          <span class="event-title"> {{ record.Title }}</span>
          <span *ngIf="record.Speaker" class="event-speaker"> ({{ record.Speaker }})</span>
          <span class="event-room"> {{ record.Room }}</span>
        </div>
        <!-- <div class="event-details-row"> -->
          <!-- <span>{{ record.Time}}</span> -->
          <!-- <span> ({{ record.Schedule | date:'EE., yyyy-MM-dd, HH:mm' }})</span> -->
          <!-- <span> ({{ record.Upcoming ? 'upcoming' : 'old' }})</span> -->
        <!-- </div> -->
        <div class="event-details-row" *ngIf="showDescriptions && record.Description">
          <div class="event-description">{{ record.Description }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>