<div class="container">
  <div class="toprow">
    <div class="toprow-label">{{ sds.eventsLabel }}</div>
    <div class="toprow-buttons">
      <button mat-raised-button (click)="refresh()">Refresh Events</button>
      <button mat-raised-button (click)="toggleUpcoming()">{{ toggleName }}</button>
      <button mat-raised-button (click)="toggleDescriptions()">{{ toggleDescriptionsName }}</button>
      <a routerLink="/countdown" class="btn btn-primary" mat-raised-button>Countdown</a>
      <!-- <a routerLink="/by-room" class="btn btn-primary" mat-raised-button>By Room</a> -->
      <a routerLink="/schedule" class="btn btn-primary" mat-raised-button>Schedule</a>
      <mat-form-field>
        <mat-select placeholder="Selected Room"
          (selectionChange)="this.updateFilter($event.value)" name="roomFilter">
          <mat-option [value]="">All Rooms</mat-option>
          <mat-option *ngFor="let room of this.roomList" [style.background-color]="room.color.secondary"
            [value]="room.name">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="toprow-counter {{ countdownCssClass }}">{{ nextEventTimeString }}</div>
  </div>

  <div class="events-list">
    <ng-container *ngFor="let record of events">
      <div *ngIf="(!onlyUpcoming || record.upcoming) &&
       (undefined === this.sds.filterByRoom || this.sds.filterByRoom == '' || this.sds.filterByRoom == record.room.name)" class="event room"
        [style.border-left-color]="record.room.color.primary" [style.background-color]="record.room.color.secondary">
        <div class="event-head-row">
          <span> {{ record.schedule | date:'EE., HH:mm' }}:</span>
          <span class="event-title"> {{ record.title }}</span>
          <span *ngIf="record.speaker" class="event-speaker"> ({{ record.speaker }})</span>
          <span class="event-room"> {{ record.room.name }}</span>
        </div>
        <!-- <div class="event-details-row"> -->
        <!-- <span>{{ record.Time}}</span> -->
        <!-- <span> ({{ record.Schedule | date:'EE., yyyy-MM-dd, HH:mm' }})</span> -->
        <!-- <span> ({{ record.Upcoming ? 'upcoming' : 'old' }})</span> -->
        <!-- </div> -->
        <div class="event-details-row" *ngIf="showDescriptions && record.description">
          <div class="event-description">{{ record.description }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>