<div class="container">
  <div class="toprow">
    <div class="toprow-buttons">
      <a routerLink="/" class="btn btn-primary" mat-raised-button>List</a>
      <button mat-raised-button class="md-raised md-cornered" (click)="refresh()">Refresh Events</button>
      <div class="toprow-room">
        Upcoming in {{ this.filterstring }}
      </div>
    </div>
  </div>

  <div class="counter">
    <div class="central-counter {{ countdownCssClass }}" [style.font-size]="counterFontSize"
      (window:resize)="onResize($event.target?.innerWidth)">{{ nextEventTimeString }}</div>
    <div *ngIf="this.sds.nextEvent" class="event-details">
      <div class="event-details">
        <span class="event-time">{{ this.sds.nextEvent.schedule | date:'HH:mm' }}:</span>
        <span class="event-title"> {{ this.sds.nextEvent.title }}</span>
      </div>
    </div>
  </div>
</div>