.container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  color: white;
}

.toprow {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  width: 100%;
  min-width: 300px;
}

.toprow-buttons {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px;
  border-color: lightgrey;
  color: lightgrey;
}

.toprow-room {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgrey;
  padding-left: 15px;
  padding-right: 15px;
}

.counter {
  height: 100%;
  width: 90%;
  min-width: 200px;
  box-align: center;
}

.countdown-10s-uneven {
  border: 4px;
  border-color: red;
  border-style: solid;
  background-color: rgba(255, 100, 100, 0.5);
}

.countdown-10s-even {
  border: 4px;
  border-color: red;
  border-style: dashed;
  background-color: rgba(255, 100, 100, 0.5);
}

.countdown-30s {
  border: 4px;
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 155, 0, 0.7);
}

.countdown-1m {
  border: 4px;
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 205, 0, 0.5);
}

.countdown-3m {
  border: 4px;
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 255, 0, 0.3);
}

.countdown-5m {
  border: 4px;
  border-color: white;
  border-style: solid;
  background-color: rgba(100, 255, 100, 0.1);
}

.countdown-long {
  border: 4px;
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.1);
}

.event {
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  min-width: 300px !important;
  font-family: Arial, Helvetica, sans-serif;
  border-left-width: 5px;
  border-left-color: lightgray;
  border-left-style: solid;
  background: rgba(255, 255, 255, 0.1);
}

.event-details {
  color: lightgrey;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.event-title {
  font-weight: bold;
}

.event-time {
  font-style: italic;
}

.central-counter {
  padding: 15px;
  margin: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.mat-raised-button {
  background-color: black;
  border-color: darkgray;
  border-width: 1px;
  border-style: solid;
  color: white;
}
