<div class="container">
  <div class="toprow">
    <div class="toprow-buttons">
      <a routerLink="/" class="btn btn-primary" mat-raised-button>List</a>
      <button mat-raised-button class="md-raised md-cornered" (click)="refresh()">Refresh Events</button>
      <div class="toprow-room">
        Upcoming in {{ this.filterstring }}
      </div>
      <mat-form-field>
        <mat-select placeholder="Selected Room" [ngModel]="this.sds.filterByRoom"
          (selectionChange)="this.updateFilter($event.value)" name="roomFilter"
           [style.background-color]="'dimgray'" [style.color]="'white'">
          <mat-option [value]="">All Rooms</mat-option>
          <mat-option *ngFor="let room of this.roomList" [style.background-color]="room.color.secondary"
            [value]="room.name">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="counter">
    <div class="central-counter {{ countdownCssClass }}" [style.font-size]="counterFontSize"
      (window:resize)="onResize($event.target?.innerWidth)">{{ nextEventTimeString }}</div>
    <div *ngIf="this.sds.nextEvent" class="event-details">
      <div class="event-details">
        <span class="event-time">{{ this.sds.nextEvent.schedule | date:'HH:mm' }}:</span>
        <span class="event-title"> {{ this.sds.nextEvent.title }}</span>
      </div>
    </div>
  </div>
</div>